<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>현규의 Spring Boot 게시판 - 로그인</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<header>
    <h1>현규의 Spring Boot 게시판</h1>
</header>
<main>
    <form id="loginForm">
        <h2>로그인</h2>
        <div class="input-group">
            <label for="username">아이디</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">로그인</button>
        <a href="/signup">회원가입</a> <!-- 여기를 변경 -->
    </form>
</main>
</body>
</html>
